@use './variables.scss';

.cart {
  padding: 80px 0;
  max-width: 821px;
  margin: 0 auto;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
    color: variables.$color-black;
  }
  &__clear {
    display: flex;
    align-self: center;
    color: variables.$color-gray-medium;
    gap: 5px;
  }
  &__middle {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__bottom-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__total {
    font-size: 20px;
    span {
      font-size: inherit;
      font-weight: 600;
    }
  }
  &__sum {
    font-size: 20px;
    span {
      font-size: inherit;
      font-weight: 600;
      color: variables.$color-orange;
    }
  }
}
