@use './variables.scss';

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  &:hover {
    &::before,
    &::after {
      background: variables.$color-gray-dark;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: variables.$color-gray;
    border-radius: 5px;
    height: 6px;
    margin-top: -4px;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
