@use './variables.scss';

.header {
  border-bottom: 1px solid variables.$color-gray-light;
  padding: 49px 0 40px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 17px;
  }
  &__logo-title {
    color: #000;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
  }
  &__logo-subtitle {
    color: variables.$color-gray;
  }
  &__right-menu {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 600;
    color: variables.$color-gray-dark;
  }
  &__cart {
    min-width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: variables.$color-orange;
    padding: 0 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  &__cart-text {
    font-weight: 600;
    color: #fff;
  }
  &__cart-divider {
    height: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
  &__cart-icon {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
