@use './variables.scss';

.profile {
  padding: 80px 0;
  max-width: 821px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-size: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
    color: variables.$color-black;
  }
  &__subtitle {
    font-size: 24px;
    font-weight: 600;
    color: variables.$color-black;
  }
  &__logout {
    display: flex;
    align-self: center;
    color: variables.$color-gray;
    gap: 5px;
  }
  &__data {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__data-items {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: minmax(42px, 1fr);
    gap: 20px;
  }
  &__data-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__data-text {
    color: variables.$color-black;
    padding: 10px 20px;
  }
  &__data-text-gray {
    color: variables.$color-gray;
    flex-shrink: 0;
  }
  &__input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid variables.$color-gray-medium;
    border-radius: 8px;
    position: relative;
    color: variables.$color-black;
    &:focus {
      outline: none;
    }
    &:read-only {
      border: none;
    }
  }
  &__orders {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__orders-items {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__orders-item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__orders-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__order-title {
    font-size: 20px;
  }
  &__order-date {
    color: variables.$color-gray;
  }
}
